.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #f7f8f7;
  position: sticky;
  top: 0;
  z-index: 100px;
}
.header_logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}
